@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Luxe Web Solutions</h1>
    <p class="lead">Bespoke website building with a personal touch!</p>
    <p>Designed to your specifications, built scalable and agile</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get the ball rolling</h2>
        <p>
            Contact us with your idea in mind
        </p>
        <p>@Html.ActionLink("Contact", "Contact", "Home", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Look at our previous work</h2>   
        <p>
            Completed bespoke projects
        </p>     
        <p>@Html.ActionLink("Previous Work", "PreviousWork", "Home", new { @class= "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
      
    </div>
</div>