@{
    ViewBag.Title = "Previous Work";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information</p>*@

<div class="row" style="margin-bottom:2%; margin-top:2%">
    <div class="col-md-4 card">
        <p>Sugar Skull Coffee</p>
        <img src="" /><p>Logo here, make Href</p>
    </div>

    <div class="col-md-4 card">
        <p>Re-Jiggery</p>
        <img src="" /><p>Logo here, make Href</p>
    </div>

    <div class="col-md-4 card">
        <p>Wirral Home Delivery</p>
        <img src="" /><p>Logo here, make Href</p>
    </div>
</div>

<div class="row"  style="margin-bottom:2%">
    <div class="col-md-4 card">
        <p>Peninsula Builders</p>
        <img src="" /><p>Logo here, make Href</p>
    </div>

    <div class="col-md-4 card">
        <p>Paragon</p>
        <img src="" /><p>Logo here, make Href</p>
    </div>

    <div class="col-md-4 card">
        <p>Sugar PR</p>
        <img src="" /><p>Logo here, make Href</p>
    </div>
</div>

<style>
    .card{
        background-color:antiquewhite;
       max-width:25%;
       border:solid;
       
    }
</style>